<div class="row">

    <tbody >
      <h1>carrito</h1>
      <a href="/api/productos">productos</a>
      <a href="/">home</a>
      <h5 class="card-title">valor total : ${{priceRound}}</h5>
       {{#each allProducts}}
          <div class="card col-md-4" style="width: 18rem; margin:1rem;">
            <img class="card-img-top" src={{this.photo_url}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <h5 class="card-title">{{this.price}}</h5>
                <p class="card-text">{{this.description}}</p>
                
                <p class="card-text">unidades : {{this.quantity}}</p>
                <form action="/api/carrito/{{../sanitizedUser.cart_id}}/productos/{{this._id}}/?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-primary btn-sm" >borrar</button>
                </form>
            </div>
          </div>
      {{/each}}

       <div class="mt-4">
        
        <form action="/api/carrito/{{cartid}}/productos" method="POST">
        <button class="btn btn-primary btn-sm" type="submit">Terminar compra</button>
        </form>
        </div>   

    </tbody>
    </table>
  </div>  
</div>
</div> 